/* CONTENEDOR */

.panelcustomers {
    height: 100%;
    gap: 20px;
}

/* CONTENT */

.panelcustomers__content {
    display: flex;
    height: 100%;
    gap: 20px;
}

.panelcustomers__content > div {
    border-radius: 8px;
    padding: 10px;

    border: var(--content-border);
    color: var(--content-textColor);
    box-shadow: var(--content-boxShadow);
    background-color: var(--content-bgColor);
}

.panelcustomers__content--list {
    flex-grow: 1;
}

.panelcustomers__content--details {
    width: 350px;
    background-color: rgb(255, 255, 255);
}

.panelcustomers__content--details h4 {
    padding-bottom: 4px;
    font-weight: 300;
    font-size: 1.0em;

    color: var(--details-title-textColor);
    border-bottom: var(--details-separator-color);
}