/* CONTENEDOR */

.adminpanelproducts {
    height: 100%;
    gap: 20px;
}

/* CONTENT */

.adminpanelproducts__content { 
    height: 100%;
    display: grid;
    gap: 20px;

    grid-template-rows: 1fr 0.8fr;
    grid-template-columns: 1fr 400px;
    grid-template-areas:    "content__list content__details"
                            "content__list content__price";
}

.adminpanelproducts__content > div {
    border-radius: 8px;
    padding: 10px;

    border: var(--content-border);
    color: var(--content-textColor);
    box-shadow: var(--content-boxShadow);
    background-color: var(--content-bgColor);
}

.adminpanelproducts__content h4 {
    font-size: 1.0em;
    font-weight: 300;
    color: var(--details-title-textColor);
}

.content__list {
    grid-area: content__list;
}

.content__price {
    grid-area: content__price;
}

/* DETAILS */

.content__stock {
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.content__stock > div {
    width: 100%;
}

.content__stock h4 {
    height: 35px;
    border-bottom: 1px solid rgb(240, 240, 240);
}

.content__stock--row {
    padding: 6px 20px;
    gap: 6px;
}

.content__stock--row p {
    font-size: 0.8em;
    font-weight: 100;
    color: var(--details-text-textColor);
}

.content__stock--row img {
    width: 20px;
    height: 20px;
    filter: var(--icon-invert);
}

.content__stock--row > div {
    gap: 10px;
    align-items: center;
    width: 100%;
}

.content__stock input {
    outline: 0;
    flex-grow: 1;
    padding: 16px;
    border-radius: 10px;
    
    background-color: var(--details-input-bgColor);
    color: var(--details-input-textColor);
    border: var(--details-input-border);

    font-size: 1.2em;
    font-family: 'Signika Negative', sans-serif;
}

.content__stock button {
    justify-content: center;
    align-items: center;

    gap: 10px;
    border: 0;
    padding: 10px;
    background-color: transparent;

    font-weight: 300;
    font-size: 1em;
    font-family: 'Signika Negative', sans-serif;
}

.content__stock button img {
    width: 25px;
}

.content__details {
    grid-area: content__details;
    justify-content: space-between;
    gap: 10px;
    height: 100%;
}

.content__details h5 {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: center;

    width: 250px;
    font-size: 0.8em;
    font-weight: 100;
    color: var(--details-nodata-textColor);
}

.content__details > *:not(h4):not(:last-of-type) {
    flex-grow: 1;
    padding-bottom: 10px;
}

.content__details h4 {
    height: 35px;
    border-bottom: var(--details-separator-color);
}

.content__details > *:not(*:last-of-type) {
    border-bottom: var(--details-separator-color);
}

.details__photo {
    height: 120px;
    max-height: 120px;
}

.details__photo > div {
    padding: 6px;
}

.details__photo--photo {
    background-image: url('https://cdn.shopify.com/s/files/1/2303/2711/files/2_e822dae0-14df-4cb8-b145-ea4dc0966b34.jpg?v=1617059123');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 120px;
    min-width: 120px;
    margin: 6px;

    border-radius: 10px;
}

.details__photo--photo img {
    width: 100%;
    height: 100%;
}

.details__photo--name {
    justify-content: space-between;
    flex-grow: 1;
    max-width: 250px;
}

.details__photo--name > div {
    height: 50%;
    overflow: hidden;
}

.details__photo--name > div p {
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 1.6em;
    line-height: 1.6em;
}

.details__photo--name > div p:first-of-type {
    font-size: 0.8em;
    font-weight: 100;
    color: var(--details-text-textColor);
}

.details__price {
    height: 60px;
}

.details__price--card {
    width: 50%;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.details__price--card img {
    height: 20px;
    filter: var(--icon-invert);
}

.details__price--card div p:first-of-type {
    font-size: 0.8em;
    font-weight: 100;
    color: var(--details-text-textColor);
}

.details__price--card div p:last-of-type{
    font-size: 1.6em;
}

.details__timestamp {
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.details__timestamp img {
    height: 20px;
    filter: var(--icon-invert);
}

.details__timestamp p {
    font-size: 0.8em;
    font-weight: 100;
    color: var(--details-text-textColor);
}

.details__timestamp p b {
    font-size: 1em;
    font-weight: 300;
    color: var(--content-textColor);
    margin: 0 4px;
}

.details__delete {
    align-items: center;
    justify-content: center;
    height: 50px;
}

.details__delete button {
    justify-content: center;
    align-items: center;

    gap: 10px;
    border: 0;
    padding: 10px;
    background-color: transparent;

    font-weight: 300;
    font-size: 1em;
    font-family: 'Signika Negative', sans-serif;
    filter: invert(71%) sepia(51%) saturate(6983%) hue-rotate(347deg) brightness(106%) contrast(101%);
}

.details__delete button:hover {
    cursor: pointer;
}

.details__delete img {
    width: 16px;
}

.details__modify {
    filter: invert(71%) sepia(51%) saturate(6983%) hue-rotate(347deg) brightness(106%) contrast(101%);
}

.details__modify:hover {
    cursor: pointer;
}