/* CONTAINER */

.admintable {
    border: 0;
    width: 100%;
    border-collapse: collapse;
}

.admintable tr {
    text-align: center;
}

.admintable__selected {
    background-color: var(--table-row-selected-bgcolor)!important;
    color: var(--table-row-selected-textcolor);
}

/* HEAD */

.admintable thead {
    font-size: 0.8em;
    border-radius: 10px;
    text-transform: uppercase;

    color: var(--table-thead-textcolor);
    background-color: var(--table-thead-bgcolor);
}

.admintable thead tr th {
    font-family: 'Signika Negative', sans-serif;
    font-weight: 300;
    padding: 6px;
}

.admintable thead tr th:first-of-type {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}

.admintable thead tr th:last-of-type {
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}

/* ROW */

.admintable tbody {
    padding: 10px;
    gap: 10px;
}

.admintable tbody tr {
    padding: 20px;
    border-bottom: var(--table-row-separator);
}

.admintable tbody tr:nth-child(even) {
    background-color: var(--table-row-even-bgcolor);
}

.admintable tbody tr:hover {
    cursor: pointer;
    background-color: var(--table-row-selected-bgcolor);
    color: var(--table-row-selected-textcolor);
}

.admintable tbody tr td {
    padding: 14px 0px;
    height: 65px;
}

.admintable tbody tr td:first-of-type {
    display: flex;
    align-items: center;
    justify-content: center;
}

.admintable tbody tr td:first-of-type {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}

.admintable tbody tr td:last-of-type {
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}

.admintable tbody img {
    border-radius: 100%;
    object-fit: cover;
    aspect-ratio: 1;
    width: 45px;
}

/* NODATA */

.nodata__table {
    height: 100%;
    justify-content: center;
    align-items: center;
    color: var(--details-nodata-textColor);
}

/* ORDERS ICON */

.orders__iconControl {
    filter: var(--icon-invert);
}