/* STYLES */
.welcome {
    color: var(--content-textColor);
}

.adminpanel {
    width: 100%;
    height: 100vh;
    background-color: var(--main-bgColor);

    display: grid;
    grid-template-columns: 220px 1fr;
    grid-template-rows: 70px 1fr;
    grid-template-areas:    "sidebar content"
                            "sidebar content";
}

.adminpanel > article {
    padding: 30px;
}

.adminpanel__sidebar {
    grid-area: sidebar;

    background-color: var(--sidebar-bgColor);
    box-shadow: var(--sidebar-boxShadow);
    border-right: var(--sidebar-border);

    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.adminpanel__sidebar > div:first-of-type {
    gap: 50px;
}

.adminpanel__sidebar--bottom {
    gap: 20px;
}

.adminpanel__sidebar--bottom > div {
    padding: 14px;
    border-radius: 10px;
    align-items: center;
    gap: 10px;

    font-size: 1.0em;
    font-family: 'Signika Negative', sans-serif;

    color: var(--sidebar-button-textColor);
    background-color: var(--sidebar-button-bgColor);
}

.adminpanel__sidebar--bottom img {
    width: 20px;
    height: 20px;
}

.adminpanel__content {
    grid-area: content;
}

.adminpanel__sidebar--top {
    width: 100%;
    align-items: center;
}

.sidebar__logo {
    filter: var(--icon-invert);
}

.sidebar__menu {
    width: 100%;
    gap: 16px;
    font-size: 1.1em;
    font-family: 'Signika Negative', sans-serif;
}

.sidebar__menu--item {
    padding: 16px;
    gap: 16px;
    align-items: center;
    border-radius: 10px;
}

.sidebar__menu--item:not(.active) {
    filter: contrast(0.1);
}

.sidebar__menu--item:hover {
    cursor: pointer;
    filter: contrast(1);
    color: var(--sidebar-button-hover-textColor);
    background-color: var(--sidebar-button-hover-bgColor);
}

.sidebar__menu--item:hover > img {
    filter: var(--sidebar-button-hover-filter);
}

.sidebar__menu--item.active {
    background-color: var(--sidebar-button-active-bgColor);
    color: var(--sidebar-button-active-textColor);
}

.sidebar__menu--item.active > img {
    filter: var(--sidebar-button-hover-filter);
}

.sidebar__menu--item img {
    width: 25px;
    height: 25px;
}

/* TOPBAR */

.adminpanel__topbar {
    align-items: center;
    justify-content: space-between;
}

.adminpanel__topbar--left {
    align-items: center;
    gap: 14px;
}

.adminpanel__topbar--left h1 {
    color: var(--topbar-title-textColor);
    font-size: 2em;
}

.adminpanel__topbar--left p {
    color: var(--topbar-subTitle-textColor);
    font-size: 1.6em;
    font-family: 'Dosis', sans-serif;
}

.adminpanel__topbar--right {
    gap: 20px;
}

.adminpanel__topbar--right button {
    background-color: var(--topbar-button-bgColor);
    color: var(--topbar-button-textColor);
    border-radius: 6px;
    padding: 10px;
    border: 0;
    
    font-family: 'Signika Negative', sans-serif;
    font-size: 1em;
}

.adminpanel__topbar--right button:hover {
    cursor: pointer;
    color: var(--topbar-button-hover-textColor);
    background-color: var(--topbar-button-hover-bgColor);
}

.adminpanel__topbar--right button:active {
    background-color: var(--topbar-button-active-bgColor);
}

.adminpanel__topbar--right input {
    outline: 0;
    width: 350px;
    padding: 10px;
    border-radius: 6px;

    font-family: 'Signika Negative', sans-serif;
    font-size: 1em;

    border: var(--topbar-input-border);
    box-shadow: var(--topbar-input-boxShadow);
    background-color: var(--topbar-input-bgColor);
}

.adminpanel__topbar--right input::placeholder {
    color: var(--topbar-input-placeholder);
}

.adminpanel__topbar--right input:focus::placeholder {
    color: transparent;
}

.adminpanel__topbar--right input:focus {
    border: var(--topbar-input-border-active);
}

/* FILTROS */

.adminpanel__filterbar {
    gap: 12px;
    align-items: center;
    width: 468px;
}

.adminpanel__filterbar select {
    outline: 0;
    width: 50%;
    padding: 10px;
    border-radius: 6px;

    font-family: 'Signika Negative', sans-serif;
    font-size: 1em;

    border: var(--filterbar-select-border);
    color: var(--filterbar-select-textColor);
    box-shadow: var(--filterbar-select-boxShadow);
    background-color: var(--filterbar-select-bgColor);
}

.adminpanel__filterbar button {
    height: 30px;
    width: 36px;
    border-radius: 6px;
    border: 0;

    font-family: 'Signika Negative', sans-serif;
    font-size: 1em;
    
    background-color: var(--filterbar-button-bgColor);
    color: var(--filterbar-button-textColor);
}

.adminpanel__filterbar button:hover {
    cursor: pointer;
    background-color: var(--filterbar-button-hover-bgColor);
    color: var(--filterbar-button-hover-textColor);
}

.adminpanel__filterbar button:active {
    background-color: var(--filterbar-button-active-bgColor);
}